@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.logo {
    width: 70px;
    height: 30px;
}

.navbar {
    background-color: #fff;
    padding: 8px 15px;
    width: 100%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.login-btn {
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #1c1d1f;
    border: 1px solid #1c1d1f;
    width: 60px;
    height: 30px;
}

.signup-btn {
    font-size: 11px;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    background-color: #1c1d1f;
    color: #fff;
    border: 1px solid #fff;
    width: 60px;
    height: 30px;
}

.lang-btn {
    position: relative;
    top: 2px;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: 1c1d1f;
    border: 1px solid #1c1d1f;
    width: 30px;
    height: 29px;
}

.signup-btn:hover {
    background-color: #000;
}

.login-btn:hover, .lang-btn:hover, .content .explore-btn:hover {
    background-color: #eee;
}

.shopping-img {
    width: 18px;
    height: 18px;
}

.lang-img {
    width: 13px;
    height: 13px;
}

.navbar a {
    text-decoration: none;
    color: #1c1d1f;
    font-weight: 400;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 400;
}

.navbar a:hover {
    color: #5624d0;
}

.form {
    width: 40%;
}

.search-form {
    border: 1px solid #1c1d1f;
    border-radius: 100px;
    background-color: #f7f9fa;
}

.search-form > label {
    margin: 3px 6px;
    display: flex;
}

.search-form input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    font-size: 10px;
}

.search-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.search-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.newline {
    display: block;
}

.header {
    margin-top: 3px;
    width: 100%;
    min-height: 50vh;
    height: auto;
    background-image: url("../img/header_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-banner {
    padding: 20px 10px 20px 20px;
    width: 35%;
    height: auto;
    position: relative;
    top: 50px;
    left: 60px;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.header-banner h1 {
    font-family: serif;
    font-size: 3vw;
    font-weight: 800;
    margin-bottom: 5px;
}

.header-banner p {
    font-size: 1.5vw;
    color: #1c1d1f;
    font-family: Helvetica;
}

.courses {
    margin: 10px;
    padding: 40px 20px;
}

.courses > h1 {
    font-family: serif;
    font-size: 30px;
    font-weight: 800;
    margin: 5px 0;
}

.courses-list {
    padding-top: 10px; 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.courses-list li {
    list-style: none;
    cursor: pointer;
    color: #555;
    font-weight: 700;
    padding: 5px 10px 5px 0;
}

.courses-list li:hover, .courses-list li.active {
    color: #000;
}

.courses-list li.active {
    cursor: default;
}

.content {
    margin: 10px 0;
    padding: 30px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.content .heading {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 19px;
}

.content .description {
    font-size: 12px;
    max-width: 600px;
    margin: 6px 0 12px;
}

.content .explore-btn {
    font-size: 11px;
    font-weight: 800;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: #1c1d1f;
    border: 1px solid #1c1d1f;
    width: auto;
    height: 30px;
}

.cards {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course-card {
    padding: 5px;
    width: 11em;
    cursor: pointer;
    transition: 0.7 ease;
}

.course-img img {
    width: 100%;
}

.course-info > div {
    margin-bottom: 5px;
}

.course-info .title, .course-info .price {
    font-size: 12px;
    font-weight: 600;
}

.course-info .creator {
    font-size: 10px;
    font-weight: 300;
}

.course-info .bestseller {
    font-size: 11px;
    font-weight: 500;
    color: #3d3c0a;
    background-color: #eceb98;
    padding: 5px;
    width: 60px;
    text-align: center;
}

.rating .rate {
    font-size: 12px;
    font-weight: 600;
    margin-right: 0.4rem;
    color: #b4690e;
}

.rating .reviews {
    font-size: 9px;
    font-weight: 400;
    margin-left: 0.4rem;
    color: #6a6f73;
}

.icon {
    color: #e59819;
    margin-right: 2px;
    font-size: 8px;
}

.section-header {
    margin: 0 0 24px 50px;
    font-size: 20px;
    color: #1c1d1f;
    font-weight: 700;
}

.categories .card {
    cursor: pointer;
    border: none;
}

.card .wrapper {
    overflow: hidden;
}

.categories .card-img {
    transition: 0.5s ease;
}

.categories .card-img:hover {
    transform: scale(1.1);
}

.categories .card-text {
    color: #1c1d1f;
    padding: 0.8rem 0 1.6rem;
    font-size: 12px;
    font-weight: 800;
}

@media only screen and (max-width: 380px) {
    .navbar .logo {
        margin-right: 30px;
    }

    .shopping {
        display: none;
    }

    .course-card {
        width: 100%;
    }
}

@media only screen and (max-width: 570px) {
    .header {
        background-image: none;
        display: flex;
        flex-direction: column;
    }

    .header-img img {
        width: 100%;
        height: auto;
    }

    .header-banner {
        padding: 0 0 0 20px;
        width: 100%;
        position: unset;
        background-color: #fff;
        box-shadow: none;
    }

    .header-banner h1,
    .courses > h1 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .header-banner p {
        font-size: 12px;
    }

    .newline {
        display: inline;
    }
}