@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.sm-screen-only {
    display: none;
    
}

.logo {
    width: 70px;
    height: 30px;
}

.navbar {
    background-color: #fff;
    padding: 8px 15px;
    width: 100%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.login-btn {
    font-size: 12px;
    font-weight: 800;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #1c1d1f;
    border: 1px solid #1c1d1f;
    width: 60px;
    height: 30px;
}

.signup-btn {
    font-size: 12px;
    font-weight: 800;
    padding: 5px;
    cursor: pointer;
    background-color: #1c1d1f;
    color: #fff;
    border: 1px solid #fff;
    width: 60px;
    height: 30px;
}

.lang-btn {
    padding-top: 2px;
    position: relative;
    top: 3px;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: 1c1d1f;
    border: 1px solid #1c1d1f;
    width: 30px;
    height: 30px;
}

.signup-btn:hover {
    background-color: #000;
}

.login-btn:hover, .lang-btn:hover, .content > .btn:hover {
    background-color: #eee;
}

.shopping-img {
    width: 20px;
    height: 20px;
}

.lang-img {
    width: 15px;
    height: 15px;
}

.navbar a {
    text-decoration: none;
    color: #1c1d1f;
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
}

.navbar a:hover {
    color: #8f00a2;
}

.container a {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    top: 5px;
}

.form {
    width: 40%;
    flex-shrink: 2;
}

.search-form {
    border: 1px solid #1c1d1f;
    border-radius: 100px;
    background-color: #eee;
}

.search-form > label {
    margin: 3px 6px;
    display: flex;
}

.search-form input {
    background-color: transparent;
    outline: none;
    border: none;
}

.search-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.search-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.newline {
    display: block;
}

.header {
    margin-top: 3px;
    width: 100%;
    height: 50vh;
    background-image: url("../img/header_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .container:not(.sm-screen-only) {
    padding: 20px 10px 20px 20px;
    width: 35%;
    height: auto;
    position: relative;
    top: 50px;
    left: 60px;
    background-color: #fff;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.header h1 {
    font-family: serif;
    font-size: 3vw;
    margin-bottom: 5px;
}

.header p {
    font-size: 1.5vw;
}

.courses > h1 {
    font-family: serif;
    font-size: 30px;
    margin: 5px 0;
}

.courses {
    margin: 10px;
    padding: 40px 20px;
}

.courses-list {
    padding-top: 10px; 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.courses-list li {
    list-style: none;
    cursor: pointer;
    color: #555;
    font-weight: 700;
    padding: 5px 10px 5px 0;
}

.courses-list li:hover, .courses-list li.active {
    color: #000;
}

.courses-list li.active {
    cursor: default;
}

.content {
    margin: 10px 0;
    padding: 30px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.content > p {
    font-size: 12px;
    max-width: 600px;
    margin: 6px 0 12px;
}

.content > .btn {
    font-size: 11px;
    font-weight: 800;
    padding: 2px;
    cursor: pointer;
    background-color: transparent;
    color: #1c1d1f;
    border: 1px solid #1c1d1f;
    width: 100px;
    height: 30px;
}

.cards {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.course-card {
    padding: 5px;
    width: 11em;
}

.course-img img {
    width: 100%;
}

.course-info > div {
    margin-bottom: 5px;
}

.course-info .title, .course-info .price {
    font-size: 12px;
    font-weight: 600;
}

.course-info .creator {
    font-size: 10px;
    font-weight: 300;
}

.course-info .bestseller {
    font-size: 11px;
    font-weight: 500;
    background-color: rgb(214 210 11);
    padding: 5px;
    width: 60px;
    text-align: center;
}

.rating .rate {
    font-size: 12px;
    font-weight: 600;
    color: rgb(176 122 87);
}

.rating .reviews {
    font-size: 9px;
    font-weight: 300;
}

.icon {
    color: rgba(239, 145, 4, 0.979);
    font-size: 8px;
}

@media only screen and (max-width: 855px) {
    .navbar .business {
        display: none;
    }
}

@media only screen and (max-width: 710px) {
    .navbar .teach {
        display: none;
    }
}

@media only screen and (max-width: 590px) {
    .navbar .categories {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .navbar .btns, .navbar .form {
        display: none;
    }

    .navbar .menu {
        display: unset;
    }
}

@media only screen and (max-width: 380px) {
    .big-screen-only {
        display: none;
    }

    .navbar {
        justify-content: space-between;
        flex-direction: row;
    }

    .navbar .logo {
        margin-right: 30px;
    }

    .navbar .menu {
        display: unset;
        padding-top: 5px;
        font-size: 17px;
        font-weight: 500;
    }

    .header .sm-screen-only {
        display: unset;
        width: 100%;
    }

    .header {
        background-image: none;
        display: flex;
        flex-direction: column;
    }
    
    .header img {
        width: 100%;
        height: auto;
    }

    .header .container:not(.sm-screen-only) {
        padding: 0 0 0 20px;
        width: 100%;
        position: unset;
        background-color: #fff;
        box-shadow: unset;
    }

    .header h1, .courses > h1 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .header p {
        font-size: 12px;
    }

    .newline {
        display: inline;
    }

    .course-card {
        width: 100%;
    }
}